.responsive-img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; }

.container .bio,
.container .imagen {
  display: flex;
  align-items: center; }
  .container .bio .imagen img,
  .container .imagen .imagen img {
    max-width: 100%;
    height: auto; }
  .container .bio .logo img,
  .container .imagen .logo img {
    max-width: 100%;
    height: auto; }
  .container .bio .img-small,
  .container .imagen .img-small {
    width: 50%; }

.container .ju,
.container p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  font-size: 16px;
  background-color: black;
  color: red;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0; }

.container .hist,
.container .his1 {
  max-width: 100%;
  margin: 0 auto;
  font-size: 16px; }

@media screen and (max-width: 1023px) {
  .container .ju,
  .container p {
    width: 100%;
    margin: 10px auto;
    font-size: 14px; }
  .container .hist,
  .container .his1 {
    font-size: 14px; } }

.bo {
  background-color: gray; }

.navbar-toggler {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer; }

.nav-link {
  color: white;
  text-decoration: none;
  padding: 10px 15px; }

.navbar-collapse {
  background-color: gray; }
