.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  max-width: 800px;
  margin: 0 auto; }
  .container .bio,
  .container .imagen {
    display: flex;
    align-items: center; }
  .container .imagen img {
    border: 10px solid #333;
    padding: 20px;
    background-color: #0c0909;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #f76060;
    width: 50%;
    max-width: 100%;
    height: auto; }
  .container .logo img {
    border: 10px solid #333;
    padding: 20px;
    background-color: #0c0909;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #f76060;
    width: 50%;
    max-width: 50%;
    height: auto; }
  .container .ju,
  .container p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 10px solid #333;
    padding: 20px;
    background-color: #0c0909;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #f76060;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px; }
  .container .hist,
  .container .his1 {
    border: 10px solid #333;
    padding: 20px;
    background-color: #0c0909;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #f76060;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px; }
  @media screen and (max-width: 1023px) {
    .container .ju,
    .container p {
      width: 100%;
      margin: 10px auto; } }

body {
  background-color: gray;
  text-align: center;
  color: red; }
